{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <p><img src="{{ asset('images/portada-libro.png') }}" height="290" alt="Libro"></p>
            <p></p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h1>Excepteur sint</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <button id="buy" class="btn btn-primary btn-lg">Comprar ahora</button>
                </div>
                <div class="col-md-12"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var datos = {
            nombre: 'Checkeate Store',
            orden: '{{ orden }}',
            moneda: 'PEN',
            descripcion: 'Pago del Libro',
            monto: 200,
            guardar: false
        };
        Culqi.configurar(datos);

        $('#buy').on('click', function (e) {
            Culqi.abrir();
            e.preventDefault();
        });

        function culqi() {
            if (Culqi.token) {
            } else {
                alert(Culqi.error.mensaje);
            }

            if (Culqi.error){
                alert(Culqi.error.mensaje);
            } else {
                datos.nombre = Culqi.token.tarjeta.nombre;
                datos.apellido = Culqi.token.tarjeta.apellido;
                datos.correo_electronico = Culqi.token.correo_electronico;

                fillForm(Culqi, datos);

                function fillForm(Culqi, datos) {
                    console.log('datos');
                    console.log(datos);
                    console.log('JSON.stringify(datos)');
                    console.log(JSON.stringify(datos));
                    $('#token').val(Culqi.token.id);
                    $('#datos').val(JSON.stringify(datos));
                    setTimeout(function(){
                        $('#pagar').submit();
                    }, 500);
                }
            }
        }
    </script>
    <form id="pagar" method="post" action="{{ path('verify') }}" class="hidden">
        <input id="token" type="hidden" name="token" value="">
        <input id="datos" type="hidden" name="datos" value="">
    </form>
{% endblock %}