{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

<!-- Slider -->
		<div id="carousel-example" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example" data-slide-to="1"></li>
				<li data-target="#carousel-example" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="/template/images/banner.png" />
					<div class="carousel-caption">
						<div class="row">
							<div class="col-md-7"></div>
							<div class="col-md-5">
								<h1 class="title-Slider text-left"><span class="yellow">checkeate,</span> una pc para</h1>
								<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non deserunt perferendis numquam rerum deleniti nemo possimus, quaerat temporibus at dignissimos, quasi modi qui omnis, quas aliquam atque libero! Officia, vel!</p>
								<p class="text-left"><a class="btn-Header">Case Tower</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="/template/images/banner.png" />
					<div class="carousel-caption">
						<div class="row">
							<div class="col-md-7"></div>
							<div class="col-md-5">
								<h1 class="title-Slider text-left"><span class="yellow">checkeate,</span> una pc para</h1>
								<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non deserunt perferendis numquam rerum deleniti nemo possimus, quaerat temporibus at dignissimos, quasi modi qui omnis, quas aliquam atque libero! Officia, vel!</p>
								<p class="text-left"><a class="btn-Header">Case Tower</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<img src="/template/images/banner.png" />
					<div class="carousel-caption">
						<div class="row">
							<div class="col-md-7"></div>
							<div class="col-md-5">
								<h1 class="title-Slider text-left"><span class="yellow">checkeate,</span> una pc para</h1>
								<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non deserunt perferendis numquam rerum deleniti nemo possimus, quaerat temporibus at dignissimos, quasi modi qui omnis, quas aliquam atque libero! Officia, vel!</p>
								<p class="text-left"><a class="btn-Header">Case Tower</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-example" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
		<!-- /Slider -->
		<div class="container-fluid Productos">
			<div class="container">
				<div class="row">
					<div class="col-md-15 col-sm-3 animated bounceInLeft">
						<img class="Chassis hvr-grow" src="/template/images/case.png" alt="">
						<div class="btn-Case-Container">
							<a href="" class="btn-Case">Case Tower</a>
						</div>
					</div>
					<div class="col-md-15 col-sm-3 animated bounceInDown">
						<img class="Chassis hvr-grow" src="/template/images/case.png" alt="">
						<div class="btn-Case-Container">
							<a href="" class="btn-Case">Case Tower</a>
						</div>
					</div>
					<div class="col-md-15 col-sm-3 animated bounceInLeft">
						<img class="Chassis hvr-grow" src="/template/images/case.png" alt="">
						<div class="btn-Case-Container">
							<a href="" class="btn-Case">Case Tower</a>
						</div>
					</div>
					<div class="col-md-15 col-sm-3 animated bounceInDown">
						<img class="Chassis hvr-grow" src="/template/images/case.png" alt="">
						<div class="btn-Case-Container">
							<a href="" class="btn-Case">Case Tower</a>
						</div>
					</div>
					<div class="col-md-15 col-sm-3 animated bounceInLeft">
						<img class="Chassis hvr-grow" src="/template/images/case.png" alt="">
						<div class="btn-Case-Container">
							<a href="" class="btn-Case">Case Tower</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Publicidad -->
		<div class="Publicidad">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img class="img-responsive center-block Publi" src="/template/images/publi1.png" alt="">
					</div>
					<div class="col-md-6">
						<img class="img-responsive center-block Publi" src="/template/images/publi2.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- /Publicidad -->


{% endblock %}