{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row cabecera">
        <div class="col-md-12">
            <table width="100%" border="0">
                <tr>
                    <td><img src="Imagenes/barra_superiorweb.png" width="100%" height="" alt=""/></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav id="myNavbar" class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Desplegar navegación</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img src="Imagenes/logo_ch.png" width="100%">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="nosotros.html">Nosotros</a></li>
                            <li><a href="nosotros.html">Acerca</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    Productos <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="colelap_android.html">Colelap Android</a></li>
                                    <li><a href="icolelap.html">Icolelap</a></li>
                                    <li><a href="colelap_ipad.html">Colelap Ipad</a></li>
                                    <li><a href="gastrectomia.html">Gastrectomia app</a></li>
                                    <li><a href="igastrectomy.html">iGastrectomy</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    Servicios <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="https://www.facebook.com/medicine.technology">Facebook</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCqVHGwQCmmGa2hjS7ydN4sQ">
                                            Youtube
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/_checkeate">Twitter</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p><img src="Imagenes/IMG_7229.PNG" width="170" height="290" alt=""/></p>
            <p></p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h1>iCOLELAP</h1>
                    <p>Aplicativo desarrollado para aprender sobre el procedimiento de la cirugía por
                        patología de vesícula biliar: COLECISTECTOMÍA LAPAROSCÓPICA. El aplicativo esta
                        disponible para dispositivos con el sistema operativo IOS, su costo: Gratuito.</p>
                    <a href="https://appsto.re/pe/XQSw6.i"><img src="Imagenes/app_store.jpg" width="230"></a>
                </div>
                <div class="col-md-12"></div>
            </div>
        </div>
    </div>
{% endblock %}