{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-4">
            <p><img src="{{ asset('images/portada-libro1.png') }}" height="290" alt="Libro"></p>
        </div>
        <div class="col-xs-8">
            <h1>Cáncer el enemigo oculto</h1>
            <p class="text-justify">Dr. Luis Antonio Pacora Camargo, médico especialista en cirugía oncológica,
                cuenta con maestría y doctorado en medicina, así mismo MBA en Gerencia Internacional y Maestría
                en Liderazgo. Actualmente CEO del proyecto <a href="http://www.facebook.com/checkeate">CHECKEATE</a> (www.facebook.com/checkeate), proyecto que
                busca ayudar a disminuir las víctimas de las enfermedades crónica a través de difundir la
                cultura del diagnóstico precoz. </p>
            <button id="buy" class="btn btn-primary btn-lg">Comprar ahora</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var datos = {
            nombre: 'Checkeate Store',
            orden: '{{ orden }}',
            moneda: 'PEN',
            descripcion: 'Pago del Libro',
            monto: 200,
            guardar: false
        };
        Culqi.configurar(datos);

        $('#buy').on('click', function (e) {
            Culqi.abrir();
            e.preventDefault();
        });

        function culqi() {
            if (Culqi.token) {
            } else {
                alert(Culqi.error.mensaje);
            }

            if (Culqi.error){
                alert(Culqi.error.mensaje);
            } else {
                datos.nombre = Culqi.token.tarjeta.nombre;
                datos.apellido = Culqi.token.tarjeta.apellido;
                datos.correo_electronico = Culqi.token.correo_electronico;

                fillForm(Culqi, datos);

                function fillForm(Culqi, datos) {
                    $('#token').val(Culqi.token.id);
                    $('#datos').val(JSON.stringify(datos));
                    setTimeout(function(){
                        $('#pagar').submit();
                    }, 500);
                }
            }
        }
    </script>
    <form id="pagar" method="post" action="{{ path('verify') }}" class="hidden">
        <input id="token" type="hidden" name="token" value="">
        <input id="datos" type="hidden" name="datos" value="">
    </form>
{% endblock %}